<h1>Recent Blogs</h1>

<% @latest_blogs.each do |blog| %>
  <%= blog[:id] %>
  <br>
  <%= link_to raw(blog[:title]), blog_path(blog[:id]) %>
  <br>
  <%#= raw blog[:body][0..120].gsub(/\s\w+$/,'...') %>
  <%= blog[:keyword] %>
  <br>
  <%= unsanitize_date(blog[:publish_date].to_s) %>
  <br>
  <br>
<% end %>
