<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 text-center">
      <h1>Congratulations, <%= "#{@current_user.first_name} #{@current_user.last_name}!" %></h1>
      <p>You are now registered with PawBookings.com and are eligible for future rewards.</p>
    </div>
  </div>
</div>
