<div class"container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>Congratulations, <%= "#{@current_user.first_name} #{@current_user.last_name}!" %> </h1>
      <p>Your are now registered with PawBookings.com as a Kennel Owner.</p>
    </div>
  </div>
</div>
