<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>This is your day before Reservation reminder email.</h1>
      <h2>Please log into your account at PawBookings.com with your sign-in email, <%= @email %></h2>
    </div>
  </div>
</div>
