<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>This is your 1 week Reservation reminder email.</h1>
      <h2>Please log into your account at PawBookings.com with your sign-in email, <%= @email %> to view your reservation details.</h2>
      <p>This email was sent to you by PawBookings.com. Please do not respond to this email. Please see this email and the other terms and conditions for this reservation for more details. © 2016. PawBookings.com, Inc. All Rights Reserved</p>
    </div>
  </div>
</div>
