<h1>Confirm your email-address</h1>
<p>Once this is complete you will be sent instructions on how to change your password</p>
<%= link_to "Confirm Email", new_user_password_url(email: @current_user.email, reset_password: "true") %>
