<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>Confirm your email-address</h1>
      <p>Once this is complete you will be sent instructions on how to change your password.</p>
      <%= link_to "Confirm Email", new_user_password_path(email: @current_user.email, reset_password: "true") %>
      <p>Your password can also be set by following the 'forgot your password?' instructions here: http://pawbookings.com/users/sign_in.</p>
    </div>
  </div>
</div>
