<div class="container">
  <div class="row text-left">
    <div class="col-xs-12">
      <p>Dear <%= "#{@current_user.first_name}" %>,</p>
      <p>Thank you for registering with PawBookings.com.</p>
      <p>IMPORTANT: To complete your registration please follow the following steps:</p>
      <p>1.) Log Out of your current PawBookings session if you are logged in.</p>
      <p>2.) Click <%= link_to "Confirm Email", "https://pawbookings.com/users/password/new?email=#{@current_user.email}&reset_password=true" %>.</p>
      <p>3.) An email with "Reset password instructions" will be sent to you.</p>
      <p>Your password can also be set by following the 'forgot your password?' instructions here (Make sure you are logged out of PawBookings before proceeding): https://www.pawbookings.com/users/password/new</p>
      <p>https://www.pawbookings.com</p>
      <p>Follow us on Facebook: http://www.facebook.com/pawbookings</p>
      <p>Follow us on Twitter: http://www.twitter.com/pawbookings</p>
    </div>
  </div>
</div>
