<div class="modal fade before_payment_notification leto_font" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4 class="text-center">Conditions</h4>
      <div class="text-left margin_left_1em margin_right_1em">
        <h5><strong>Policies:</strong></h5>
        <p>• <strong>Prepayment:</strong> You'll be charged a prepayment of the total cost of your reservation immediately upon confirming your reservation.</p>
        <p>• <strong>Cancellation / Refunds:</strong> Note that if canceled, modified, or in case of no-show, you will be refunded as per our Cancellation Policy.  Please click <%= link_to "here", policies_and_terms_path %> to view our cancellation/refund policy.</p>
        <p>• <strong>How to cancel:</strong> You can contact us with the information in the confirmation email to cancel your booking.</p>
        <p>• <strong>Taxes and service charges:</strong> Sales tax (where applicable) is included. There are no booking or service fees for using PawBookings.com.</p>
      </div>
      <%= submit_tag "Book Now!", class: "btn btn-success payment_submt_btn text-center" %>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
