<div class="container-fluid footer_container">
  <div class="row text-center footer_row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <p class="mobile_footer_description">About</p>
      <p class="mobile_footer_description">Contact</p>
      <p class="mobile_footer_description">Blog</p>
    </div>
    <div class="col-xs-4">
      <p class="mobile_footer_description">About</p>
      <p class="mobile_footer_description">Contact</p>
      <p class="mobile_footer_description">Blog</p>
    </div>
  </div>
  <div class="row text-center footer_row_2">
    <div class="col-xs-12">
      <p class="mobile_footer_description footer_description_logo"><img class="footer_logo" src="/assets/paw.png"> PawBookings.com™ © <%= Time.now.year %></p>
    </div>
  </div>
</div>
