<div class="container-fluid testimonial_container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="testimonials_top_text">Testimonials</h5>
      <h6 class="testimonials_bottom_text">Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.</h6>
    </div>
  </div>
  <div class="row text-center testimonial_row">
    <div class="col-xs-12">
      <img class="testimonial_avatar" src="/assets/testimonial_test_avatar.png">
      <p class="testimonial_person_name">Jane Watson</p>
      <p class="testimonial_comment">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</p>
    </div>
  </div>
  <div class="row text-center testimonial_row">
    <div class="col-xs-12">
      <img class="testimonial_avatar" src="/assets/testimonial_test_avatar.png">
      <p class="testimonial_person_name">Jane Watson</p>
      <p class="testimonial_comment">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</p>
    </div>
  </div>
  <div class="row text-center testimonial_row">
    <div class="col-xs-12">
      <img class="testimonial_avatar" src="/assets/testimonial_test_avatar.png">
      <p class="testimonial_person_name">Jane Watson</p>
      <p class="testimonial_comment">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</p>
    </div>
  </div>
</div>
