<div class="container-fluid why_pawbookings_container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="why_top_text arvo_font">Why Pawbookings</h5>
      <h6 class="why_bottom_text poppins_font">Making a reservation for your pet has never been so easy! Just enter your location, choose the dates you want to book and PawBookings returns reliable kennels for you to reserve for your pet.
      </h6>
      <h6 class="why_bottom_text poppins_font"> Pet owners love the simplicity of our site, and kennel operators no longer have to spend a lot of time on managing their vacancies. It really is that simple!
      </h6>
    </div>
  </div>
  <br />
  <div class="hidden_if_mobile">
    <div class="row text-center">
      <div class="col-md-3">
        <div class="icon_div">
          <img src="/assets/eco_icon.png">
          <p class="why_features_titles">GREEN FRIENDLY</p>
          <img src="/assets/small_line.png">
          <p class="why_features_details">Being ‘green’ is not just a buzzword for us.  Our business processes are constantly evolving and we are always looking for, and implementing ways to decrease our impact on the planet. Little things like using PCW (post-consumer waste) paper and packaging, lighting our offices with CFL and LED bulbs and just recently contracting with a cleaning company that uses biodegradable cleaners are things we do in order to be eco-friendly.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon_div">
          <img src="/assets/pets_feature_icon.png">
          <p class="why_features_titles">PEACE OF MIND</p>
          <img src="/assets/small_line.png">
          <p class="why_features_details">Knowing that your pet is being cared for in a boarding kennel that has been selected by us to participate on PawBookings.com and reviewed by other pet owners lessens the stress on both you AND your pet.  Every time your pet completes a stay at one of our kennel partners, you are invited to review and rate your experience with the facility.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon_div">
          <img src="/assets/save_money_icon.png">
          <p class="why_features_titles">SAVE TIME</p>
          <img src="/assets/small_line.png">
          <p class="why_features_details">By entering in just a few details for your dog’s or cat’s vacation, you can instantly browse near-by kennels, make the reservation, and get instant confirmation.  Easily book a stay anytime…we are available 24/7/365.  And by creating an account with us, all your information is securely saved and future reservations are even easier!
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon_div">
          <img src="/assets/easy_book_icon.png">
          <p class="why_features_titles">KENNEL PARTNERS</p>
          <img src="/assets/small_line.png">
          <p class="why_features_details">Spend time doing what you do best…looking after your furry guests.  The ‘old way’ of making reservations is time consuming and inefficient.  We maximize your bookings and minimize your vacancies for you.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden_if_desktop">
    <div class="row text-center">
      <div class="icon_div">
        <img src="/assets/eco_icon.png">
        <p class="why_features_titles">GREEN FRIENDLY</p>
        <img src="/assets/small_line.png">
        <p class="why_features_details">Being ‘green’ is not just a buzzword for us.  Our business processes are constantly evolving and we are always looking for, and implementing ways to decrease our impact on the planet. Little things like using PCW (post-consumer waste) paper and packaging, lighting our offices with CFL and LED bulbs and just recently contracting with a cleaning company that uses biodegradable cleaners are things we do in order to be eco-friendly.
        </p>
      </div>
      <div class="icon_div">
        <img src="/assets/pets_feature_icon.png">
        <p class="why_features_titles">PEACE OF MIND</p>
        <img src="/assets/small_line.png">
        <p class="why_features_details">Knowing that your pet is being cared for in a boarding kennel that has been selected by us to participate on PawBookings.com and reviewed by other pet owners lessens the stress on both you AND your pet.  Every time your pet completes a stay at one of our kennel partners, you are invited to review and rate your experience with the facility.
        </p>
      </div>
      <div class="icon_div">
        <img src="/assets/save_money_icon.png">
        <p class="why_features_titles">SAVE TIME</p>
        <img src="/assets/small_line.png">
        <p class="why_features_details">By entering in just a few details for your dog’s or cat’s vacation, you can instantly browse near-by kennels, make the reservation, and get instant confirmation.  Easily book a stay anytime…we are available 24/7/365.  And by creating an account with us, all your information is securely saved and future reservations are even easier!
        </p>
      </div>
      <div class="icon_div">
        <img src="/assets/easy_book_icon.png">
        <p class="why_features_titles">KENNEL PARTNERS</p>
        <img src="/assets/small_line.png">
        <p class="why_features_details">Spend time doing what you do best…looking after your furry guests.  The ‘old way’ of making reservations is time consuming and inefficient.  We maximize your bookings and minimize your vacancies for you.</p>
      </div>
    </div>
  </div>
</div>
