<div class="container-fluid why_pawbookings_container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="why_top_text">Why Pawbookings</h5>
      <h6 class="why_bottom_text">Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="icon_div">
      <img src="/assets/eco_icon.png">
      <p class="why_features_titles">ECO FEATURE</p>
      <img src="/assets/small_line.png">
      <p class="why_features_details">Suspendisse pharetra eleifend malesuada. Fusce faucibus pharetra nibh, in egestas dui blandit quis. Pellentesque faucibus dictum magna, quis convallis neque aliquam vel diam.</p>
    </div>
    <div class="icon_div">
      <img src="/assets/pets_feature_icon.png">
      <p class="why_features_titles">PETS FEATURE</p>
      <img src="/assets/small_line.png">
      <p class="why_features_details">Suspendisse pharetra eleifend malesuada. Fusce faucibus pharetra nibh, in egestas dui blandit quis. Pellentesque faucibus dictum magna, quis convallis neque aliquam vel diam.</p>
    </div>
    <div class="icon_div">
      <img src="/assets/save_money_icon.png">
      <p class="why_features_titles">SAVE MONEY</p>
      <img src="/assets/small_line.png">
      <p class="why_features_details">Suspendisse pharetra eleifend malesuada. Fusce faucibus pharetra nibh, in egestas dui blandit quis. Pellentesque faucibus dictum magna, quis convallis neque aliquam vel diam.</p>
    </div>
    <div class="icon_div">
      <img src="/assets/easy_book_icon.png">
      <p class="why_features_titles">EASY BOOK</p>
      <img src="/assets/small_line.png">
      <p class="why_features_details">Suspendisse pharetra eleifend malesuada. Fusce faucibus pharetra nibh, in egestas dui blandit quis. Pellentesque faucibus dictum magna, quis convallis neque aliquam vel diam.</p>
    </div>
  </div>
</div>
