<p class="kennel_h2">Kennel pictures</p>
<div style="height: auto; position: relative; overflow: hidden;">
	<% if !@kennel.nil? && !@runs.nil?%>
	<% @photos.each_with_index do |photo, i| %>
		<div class="pet_container" style="width: 700px;height: 550px; float: none; margin: 0 auto !important; margin-bottom: 50px !important;">
			<br>
			<%= image_tag photo.image.url(:thumb)  %>
			<br>
			<br>
			<p class="kennel_h2">Kennel picture</p>
			<br>
			<%= link_to 'Edit', edit_photo_path(photo), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window13', class: 'text_info bold-text link_edit vet_link', style:"margin-left: 330px; margin-right: unset; margin-top: 10px; padding: 0;" } %>
			<br>
			<br>
		</div>
		<% if i == @photos.length - 1%>
			<br>
			<br>
			<div class="kennel_button booking_button" style="padding-top:10px; margin-right: auto;margin-left: auto; text-align: center;width: 150px !important; position: absolute; bottom: 0; right: 0; left: 0;">                 
				<%= link_to 'Add New', new_photo_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window14', style:"color: white;", class: 'a_as_button' } %>
			</div>
		<% end %>
	<% end %>
<br>
<% if @photos.length == 0 %>
	<div class="kennel_button booking_button" style="padding-top:10px; margin-right: auto;margin-left: auto; text-align: center;width: 150px !important; position: absolute; bottom: 0; right: 0; left: 0;">                 
		<%= link_to 'Add New', new_photo_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window14', style:"color: white;", class: 'a_as_button' } %>
	</div>
<% end %>
<br>
<br>
<br>
	<% end %>
	</div>