<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h5 class="main_title arvo_font">Who we are...</h5>
      <br />
      <img class="about_image" src="/assets/about_image.jpg">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="about_div">
        <h6 class="about_details">
        PawBookings.com was founded by Patrick Mauro McDonnell, an avid pet lover and dog owner whose first job was working at a boarding kennel when he was a kid.  For ten years, Don and Lorna McCormick (the Kennel Owner/Operators), along with the rest of the staff, taught him so much.  He worked in every role at the kennel and learned some life-long lessons about work, responsibility, trust and love.  Patrick’s passion for caring for man’s best friend and our feline companions organically led to the creation of PawBookings.com.
      </h6>
      </div>
      <div class="about_div">
        <h6 class="about_details">
        We have built this PawBookings.com website from the ground up, using state-of-the-art development and technology and are now your go-to website for dog and cat kennel boarding throughout the United States.  Gone are the days of searching for the perfect accommodation for your pet using phone books, the web and then calling the Kennel during business hours.  You can search for and book a reservation for your pet all in one website 24/7/365!
      </h6>
      </div>
      <div class="about_div">
        <h6 class="about_details">
        We’ve done all the hard work of researching kennels, collecting all their information and offerings.  Now all you do is enter in your location, select the dates you are looking to book and we do all the heavy lifting for you.  PawBookings.com will return boarding kennels in your area, give you information about them along with ratings/reviews and current pricing.  Do this all from the comfort of your home, or on the go via your mobile device anytime of the day or night.
      </h6>
      </div>
      <div class="about_div">
        <h6 class="about_details">
        For our Kennel Partners, we free up a significant portion of your staff’s time by automating the kennel reservation process for you.  With our easy to use, yet powerful website, it’s easy to get up and running fast!  Signing up to be a part of our platform is easy!  And with answering a few questions, telling us a little about your business and uploading a few photos of your boarding kennel, we can help increase your kennel occupancy and at the same time providing your pet owners with a website that they love and gives you more time to focus on what you do best….providing a safe, loving, caring environment for the pets entrusted to your care.
      </h6>
      </div>
    </div>
  </div>
</div>
<br />

<%= render partial: "shared/footer" %>
