<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-left">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <h5 class="main_title text-center arvo_font">Changes - Cancellations - Refunds</h5>
      <div class="border"></div>
      <br />
      <br />
      <h3 class="arvo_font default_green_color">Changes</h3>
      <p class="poppins_font font_1_1_em line_height_1p5">Changes to your reservation must be made by calling our reservation specialists at (888) 840-PAWS / (888) 840-7297. Or you can send an email to reservations@pawbookings.com. All changes to your booking must be made in accordance with our Change/Cancellation/Refund policy. Please note that changes to a reservation may not be possible due to the vacancy/non-vacancy capacity of our Kennel Operators.</p>
      <br />
      <h3 class="arvo_font default_green_color">Cancellations</h3>
      <p class="poppins_font font_1_1_em line_height_1p5">All cancellations must be made by emailing reservations@pawbookings.com or by calling our reservations specialists at (888) 840-PAWS / (888) 840-7297. Due to the time-sensitive nature of our refund policy, it is important to contact us IMMEDIATELY should you need to cancel your reservation. All cancellations are processed and any refunds, if applicable, are in accordance with our Changes/Cancellations/Refund Policy.</p>
      <br />
      <h3 class="arvo_font default_green_color">Refunds</h3>
      <strong>In the event of a Change or Cancellation, PawBookings.com, Inc. will refund your payment in accordance with the following policy, unless otherwise provided by the Kennel Operator.</strong>
      <br />
      <br />
      <p class="poppins_font font_1_1_em line_height_1p5"><span class="default_green_color arvo_font">a</span>. <strong class="arvo_font"> Full Refund</strong>: If you cancel your booking 14 or more days prior to the scheduled drop off date, PawBookings.com, Inc. will refund 100% of your payment.</p>
      <p class="poppins_font font_1_1_em line_height_1p5"><span class="default_green_color arvo_font">b</span>. <strong class="arvo_font"> Partial Refund</strong>: If you cancel your booking less than 14 days, but not less than 7 days prior to the scheduled drop off date, you will be charged a fee equal to 25 % of the reservation total, or a full 1-night stay, whichever is greater. If you cancel your booking less than 7 days, but not less than 3 days prior to the scheduled drop off date, you will be charged a fee equal to 50% of the reservation total, or a full 3-night stay, whichever is greater.</p>
      <p class="poppins_font font_1_1_em line_height_1p5"><span class="default_green_color arvo_font">c</span>. <strong class="arvo_font"> No Refund</strong>: If you cancel your booking less than 3 days prior to your scheduled drop off date, except in unusual circumstances.</p>
      <p class="poppins_font font_1_1_em line_height_1p5"><span class="default_green_color arvo_font">d</span>. <strong class="arvo_font"> Extenuating Circumstances</strong>: Unusual circumstances are handled on a case by case basis. If a problem has arisen requiring action from PawBookings.com, Inc., the Pet Owner User must contact us at support@pawbookings.com within 3 days after the stay has occurred or after the cancellation. Please allow 2-3 weeks for any refunds that take place due to unusual circumstances.</p>
    </div>
  </div>
  <br />
  <br />
  <div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-xs-12 col-md-4">
      <div class="div_border">
        PawBookings.com, Inc. is under no obligation to intervene in any dispute between Users regarding cancellations and/or refunds outside the scope of our cancellation policy. Other terms may apply and pet owners are responsible for reviewing any individual Kennel Operator's policies regarding cancellation fees.
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<%= render partial: "shared/footer" %>
