<%= render partial: "shared/top_info" %>

<div class="container-fluid leto_font">
  <div class="row text-center">
    <div class="kennel_or_customer_div">
      <h5 class="kennel_or_customer_title">Register as...</h5>
      <img class="kennel_or_customer_image" src="/assets/kennel_or_customer_image.jpg">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-6 kennel_or_customer_bottom_div">
      <%= link_to "Customer", new_user_registration_path(kennel_or_customer: "customer"), class: "kennel_or_customer_link" %>
    </div>
    <div class="col-xs-6 kennel_or_customer_bottom_div">
      <%= link_to "Kennel", new_user_registration_path(kennel_or_customer: "kennel"), class: "kennel_or_customer_link" %>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
