<h1>Kennel or Customer</h1>

<%= link_to "Register my Business..", new_user_registration_path(kennel_or_customer: "kennel") %>
<br>
<%= link_to "Register my Pets..", new_user_registration_path(kennel_or_customer: "customer") %>
