<%= render partial: "shared/top_info" %>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <h5 class="main_title text-center">Changes-Cancellations-Refund Policy</h5>
      <br />
      <div class="border"></div>
      <br />
      <h3 class="default_green_color text-left patrick_hand_font text_underline">Changes</h3>
      <p>Changes to your reservation must be made by calling our reservation specialists at 1-844-944-3333. Or you can send an email to reservations@pawbookings.com. All changes to your booking must be made in accordance with our Change/Cancellation/Refund policy. Please note that changes to a reservation may not be possible due to the vacancy/non-vacancy capacity of our Kennel Operators.</p>
      <br />
      <div class="border"></div>
      <br />
      <div class="border"></div>
      <br />
      <h3 class="default_green_color text-left patrick_hand_font text_underline">Cancellations</h3>
      <p>All cancellations must be made by emailing reservations@pawbookings.com or by calling our reservations specialists at 1-844-944-3333. Due to the time-sensitive nature of our refund policy, it is important to contact us IMMEDIATELY should you need to cancel your reservation. All cancellations are processed and any refunds, if applicable, are in accordance with our Changes/Cancellations/Refund Policy.</p>
      <br />
      <div class="border"></div>
      <br />
      <div class="border"></div>
      <br />
      <h3 class="default_green_color text-left patrick_hand_font text_underline">Refunds</h3>
      <p class="font_italic">In the event of a Change or Cancellation, PawBookings.com, Inc. will refund your payment in accordance with the following policy, unless otherwise provided by the Kennel Operator.</p>
      <p><span class="font_italic">a</span>. <strong>Full Refund</strong>: If you cancel your booking 14 or more days prior to the scheduled drop off date, PawBookings.com, Inc. will refund 100% of your payment.</p>
      <p><span class="font_italic">b</span>. <strong>Partial Refund</strong>: If you cancel your booking less than 14 days, but not less than 7 days prior to the scheduled drop off date, you will be charged a fee equal to 25 % of the reservation total, or a full 1-night stay, whichever is greater. If you cancel your booking less than 7 days, but not less than 3 days prior to the scheduled drop off date, you will be charged a fee equal to 50% of the reservation total, or a full 3-night stay, whichever is greater.</p>
      <p><span class="font_italic">c</span>. <strong>No Refund</strong>: If you cancel your booking less than 3 days prior to your scheduled drop off date, except in unusual circumstances.</p>
      <p><span class="font_italic">d</span>. <strong>Extenuating Circumstances</strong>: Unusual circumstances are handled on a case by case basis. If a problem has arisen requiring action from PawBookings.com, Inc., the Pet Owner User must contact us at support@pawbookings.com within 3 days after the stay has occurred or after the cancellation. Please allow 2-3 weeks for any refunds that take place due to unusual circumstances.</p>
      <br />
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="disclaimer_box">
        <h4 class="text_underline"><strong>Important!</strong></h4>
        <p class="font_italic"><strong>PawBookings.com, Inc. is under no obligation to intervene in any dispute between Users regarding cancellations and/or refunds outside the scope of our cancellation policy. Other terms may apply and pet owners are responsible for reviewing any individual Kennel Operator's policies regarding cancellation fees.</strong></p>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
