<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <h5 class="main_title arvo_font text-center">Terms of Service</h5>
      <div class="border"></div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <h3 class="poppins_font">PawBookings.com Inc.</h3>
      <p class="poppins_font font_italic margin_top_np5em">Effective and updated as of September, 2016</p>
      <br />
      <p class="poppins_font font_1_1_em line_height_1p5">Welcome to the PawBookings.com, Inc. ("PawBookings.com, Inc.") service (the "Service"). The following Terms of Service govern all use of the Service via the website located at www.pawbookings.com including, but not limited to, researching and gathering data from pet boarding kennels and other pet service and product providers; making reservations; and all content, services, and products available at or through the Website. Any use of the site/service for purposes other than intended is strictly prohibited.</p>
      <strong>PawBookings.com, Inc. provides these abbreviated Terms of Service (TOS) with the understanding that this is not a complete outline of the PawBookings.com, Inc. TOS. Please read this document carefully before using our site. This summary may not be legally binding and may be amended periodically.</strong>
      <br />
      <br />
      <ul class="poppins_font font_1_1_em line_height_1p5">
        <li>Please read this Agreement carefully before accessing or using the Website. It discusses the nature of our Service; the rules we expect users to follow; the relationship between PawBookings.com, Inc., its users, and its consultants; and the legal details that control these rules and relationships. By accessing or using any part of the Website, you agree to become bound by the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, then you may not access the Website or use any services. The Website is available only to those who are at least 13 years old.</li>
        <br />
        <li>Use of the Service for illegal activity or harassment, is not permitted on pawbookings.com.</li>
        <br />
        <li>PawBookings.com, Inc. has the right to remove any content that violates its policies or is deemed offensive.</li>
        <br />
        <li>The Service connects Pet Owner Users (Customers) with boarding kennel operators and other providers of pet-related services and products (Clients). Customers may use the Service to schedule boarding reservations and other services with Clients.</li>
        <br />
        <li>As a registered User, you are responsible for the security of your account, and for all activities that take place under your account.</li>
        <br />
        <li>Both Customers and Clients are responsible for understanding any payment terms, cancellation policies, and refund terms, as outlined in part under <strong>Payment Requirements</strong>.</li>
        <br />
        <li>Use of our service allows PawBookings.com, Inc. to communicate with its users through email and electronic means.</li>
        <br />
        <li>There may be content from third parties on the PawBookings.com, Inc. website. We are not responsible for third party content or for the websites that content may link to.</li>
        <br />
        <li>PawBookings.com, Inc. may modify this agreement at any time. However, PawBookings.com, Inc. will notify you of material modifications to this agreement by posting a notice on its website or sending email to your email address.</li>
        <br />
        <li>Either you or PawBookings.com, Inc. may end this agreement at any time.</li>
      </ul>
    </div>
  </div>
</div>
<br />
<br />

<%= render partial: "shared/footer" %>
