<h1>Blog Category Show Page</h1>

<% @blogs.each do |blog| %>
  <%= link_to raw(blog.title), blog_path(blog.id) %>
  <% if !current_user.nil? && current_user.email == "pawbookings@gmail.com" && current_user.kennel_or_customer == "admin" %>
    <%= link_to "Edit", edit_blog_path(blog[:id]) %>
    <br>
    <%= link_to "Delete", blog_path(blog.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
  <% end %>
  <br>
<% end %>
