<h1>Search Results</h1>
<% if !@final_search_results.blank? %>
  <% @final_search_results.each do |fr| %>
    <%= link_to fr.kennel_name, search_path(fr.id, search_info: params) %>
    <br>
    <% if fr.cats_or_dogs == "both" %>
      Cats and Dogs
    <% else %>
      <%= fr.cats_or_dogs.capitalize %>
    <% end %>
    <br>
    <%= fr.kennel_address %>
    <br>
    <br>
  <% end %>
<% else %>
  <p>No results found…</p>
<% end %>
