/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require simple_calendar
 *= require_self
 *= require scaffolds
 *= require home
 *= require top_info
 *= require search_bar
 *= require footer
 *= require about
 *= require contact_message
 *= require blog
 *= require devise
 *= require search
 *= require amenity
 *= require reservation
 *= require payment
 *= require kennel
 *= require customer
 *= require pawbookings_admins
 */

/*
.wday-0 {
  background-color: red;
}*/

body {
  font-family: 'Raleway', sans-serif;
}

input {
  font-style: italic;
}

.default_green_color {
	color: #48cd7e;
}

.default_white_color {
  color: #ffffff;
}

.leto_font {
  font-family: 'Lato', sans-serif;
}

.open_sanz_font {
  font-family: 'Open Sans', sans-serif;
}

.kaushan_font {
  font-family: 'Kaushan Script', cursive;
}

.pet_icon {
  width: 11%;
}

.blog_footer_wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.border {
  border: 1px solid #9a9a9a;
}

.main_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
}

.general_input {
  width: 75%;
  height: 2.5em;
  border-radius: 0.4em;
}
