/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require simple_calendar
 *= require_self
 *= require scaffolds
 *= require home
 *= require top_info
 *= require search_bar
 *= require footer
 *= require about
 *= require contact_message
 *= require blog
 *= require devise
 *= require pawbookings_admins
 */

/*
.wday-0 {
  background-color: red;
}*/

input {
  font-style: italic;
}

.default_green {
	color: #48cd7e;
}

.leto_font {
  font-family: 'Lato', sans-serif;
}

.open_sanz_font {
  font-family: 'Open Sans', sans-serif;
}
