/* new_registration */
.login_div_container {
  background: url("/assets/pb_login_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 4em;
}

.login_div {
  background-color: rgba(255, 255, 255, 0.88);
  padding: 1em;
}

.login_title {
  font-size: 2em;
  padding-top: 5em;
  padding-bottom: 1em;
}

.login_input {
  width: 75%;
  height: 2.5em;
  border-radius: 0.4em;
}

.login_submit_btn {
  width: 75%;
  background: linear-gradient(#42b370, #51d888);
  height: 3em;
  color: #ffffff;
}

.login_message_div {
  margin-top: 10em;
}

/* new_session */

.devise_password_1, .devise_password_2 {
  display: none;
}

.signup_div_container {
  background-color: #43ac6a;
}

.signup_div {
  padding-bottom: 3em;
}

.signup_title {
  margin-top: 3.7em;
  font-size: 2em;
  color: #ffffff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.signup_input {
  width: 75%;
  height: 2.5em;
  border-radius: 0.4em;
}

.signup_submit_btn {
  width: 75%;
  background: linear-gradient(#42b370, #51d888);
  height: 3em;
  color: #ffffff;
}

.signup_timezone_input {
  background-color: white;
  height: 2.5em;
  width: 75%;
}

.signup_recaptcha {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
}


@media (min-width: 992px) {

  .signup_timezone_input, .signup_submit_btn, .signup_input {
    width: 20%;
  }
}

@media (min-width: 1200px){
  .login_div {
    margin-left: 5em;
    margin-right: 5em;
  }
}
