.footer_container {
  background-color: #222222;
  color: #88969f;
}

.footer_logo {
  height: 5em;
}

.mobile_footer_description {
  font-size: 1em;
  line-height: 3em;
}

.footer_row {
  margin-top: 3em;
}

.footer_social_media_row {
  margin-top: 1em;
  margin-bottom: -1em;
  padding-left: 1em;
  padding-right: 1em;
}

.footer_bottom_row {
  /*margin-bottom: 2em;*/
}

.footer_description_logo {
  margin-left: -2em;
}

.facebook_btn_footer, .twitter_btn_footer, .pinterest_btn_footer, .google_plus_btn_footer {
  width: 2em;
}

.footer_bottom_text {
  margin-top: 2.65em;
  margin-left: -2em;
}
