.kennel_dashboard_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-decoration:underline;
}

.kennel_dashboard_avatar {
  margin-bottom: 1em;
  height: 10em;
  border-radius: 100%;
}

.kennel_avatar_btn {
  margin-left: 10%;
}

.kennel_dashboard_input_edit, .kennel_dashboard_input {
  width: 75%;
  height: 2.5em;
  border-radius: 0.4em;
}

.kennel_dashboard_file_input {
  width: 100%;
}

.kennel_dashboard_input_desktop {
  width: 75%;
  height: 2.5em;
  border-radius: 0.4em;
}

.most_booked_runs {
  margin-top: 3em;
}

.kennel_dashboard_res_search {
  margin-top: 4em;
}

.kennel_dashboard_search_results {
  margin-top: 3em;
}

.kennel_dashboard_option_btns_div {
  line-height: 5em;
}

.kennel_dashboard_option_btns_div_mobile {
  line-height: 5em;
}

.kennel_reservations_individual_div {
  background-color: #3c3c3c;
  border-radius: 4em;
  padding: 2em;
  margin-bottom: 3em;
}

.kennel_dashboard_calendar {
  background-color: #48cd7e;
}

.res_search_radio_btn_text {
  margin-left: 1em;
}

/* Kennel Show */

.back_to_results_row {
  background-color: rgba(66, 176, 107, 0.17);
}

.kennel_show_title {
  font-size: 2.3em;
  color: black;
}

.kennel_show_address {
  color: #6d6e71;
}

.kennel_show_logo_div {
  border: 40px solid #e1e1e1;
  border-radius: 1em;
}

.kennel_show_logo {
  width: 100%;
}

.run_image {
  height: 16em;
}

.kennel_show_options_btn_row {
  margin-top: 2em;
}

.kennel_show_options_btns {
  font-size: 1.2em;
}

.kennel_show_amenities_div, .kennel_show_policies_div {
  display: none;
}

.per_night_p {
  margin-top: -1em;
  color: #6d6e71;
}

.pickup_dropoff_time_div {
  background-color: #e1e1e1;
  border-radius: 1em;
  padding: 1em;
  display: inline-grid;
}

.add_room_btn {
  width: 75%;
  height: 3em;
  margin-top: 1.5em;
  background: linear-gradient(#42b370, #51d888);
  color: #ffffff;
}

.description_btn:hover, .amenities_btn, .policies_btn {
  cursor: pointer;
  cursor: hand;
}

/* Kennel Registration*/

.kennel_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Run Registration */

.run_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Amenity Registration */

.amenities_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;

}

/* Hours or Operation Registration */

.hours_of_operation_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Holiday Registration */

.holiday_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

.all_holidays_div {
  margin-top: 1em;
}

/* Holiday Edit */

.edit_holiday_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Policy Registration */

.policy_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

@media (max-width: 679px) {
  .kennel_dashboard_calendar {
    display: none;
  }
}

@media (max-width: 991px){
 .kennel_reservation_desktop, .searched_res_desktop, .kennel_dashboard_desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  #kennel_mission_statement {
    margin: 0px;
    height: 181px;
    width: 301px;
  }

 .kennel_reservation_mobile, .searched_res_mobile, .kennel_dashboard_mobile {
    display: none;
  }

  .add_room_btn {
    width: 50%;
  }

  .kennel_show_options_btns_row_desktop {
    position: absolute;
    top: 15em;
    left: 40em;
  }

  .kennel_show_btn_option_div {
    margin-top: 10em;
  }

  .kennel_reservation_container, .searched_res_container_desktop, .kennel_dashboard_container {
    background-color: #3c3c3c;
    padding-bottom: 3em;
  }

  .kennel_dashboard_main_title {
    margin-bottom: 1em;
  }

  .kennel_dashboard_option_btns_div {
    line-height: 1em;
    text-align: left;
    margin-left: 6em;
    margin-top: 4em;
  }

  .kennel_dashboard_option_btns_div_mobile {
    line-height: 1em;
  }

  .kennel_dashboard_input {
    width: 20%;
  }

  .kennel_reservations_body {
    background-color: #3c3c3c;
  }

  .kennel_reservation_th {
    background-color: #5e5e5e;
  }

  .kennel_reservation_td {
    color: #ffffff;
  }

}
