
.kennel_dashboard_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-decoration:underline;
}

.kennel_dashboard_avatar {
  margin-bottom: 1em;
  border-radius: 100%;
}

.kennel_avatar_btn {
  margin-left: 10%;
}

.kennel_dashboard_input {
  width: 75%;
  height: 2.5em;
  border-radius: 0.4em;
}

.most_booked_runs {
  margin-top: 3em;
}

.kennel_dashboard_res_search {
  margin-top: 4em;
}

.kennel_dashboard_search_results {
  margin-top: 3em;
}

.kennel_dashboard_option_btns_div {
  line-height: 5em;
}

.kennel_reservations_individual_div {
  background-color: #6d6e71;
  border-radius: 4em;
  padding: 2em;
  margin-bottom: 3em;
}

.kennel_dashboard_calendar {
  background-color: #48cd7e;
}

.res_search_radio_btn_text {
  margin-left: 1em;
}
/* Kennel Registration*/

.kennel_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Run Registration */

.run_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Amenity Registration */

.amenities_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;

}

/* Hours or Operation Registration */

.hours_of_operation_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Holiday Registration */

.holiday_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

.all_holidays_div {
  margin-top: 1em;
}

/* Holiday Edit */

.edit_holiday_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

/* Policy Registration */

.policy_registration_title {
  font-family: 'Open Sans', sans-serif;
  color: #48cd7e;
  font-size: 2.5em;
  margin-top: 3.7em;
  text-align: center;
  text-decoration: underline;
}

@media (max-width: 679px) {
  .kennel_dashboard_calendar {
    display: none;
  }
}

@media (max-width: 991px){
  .kennel_dashboard_desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .kennel_dashboard_container {
    background-color: #3c3c3c;
    padding-bottom: 3em;
  }

  .kennel_dashboard_main_title {
    margin-bottom: 1em;
  }


  .kennel_dashboard_mobile {
    display: none;
  }


  .kennel_dashboard_option_btns_div {
    line-height: 1em;
    text-align: left;
    margin-left: 6em;
    margin-top: 4em;
  }
}
